*{
    margin: 0px;
    padding: 0px;
    /* все блоки будут иметь заданную ширину 
    за счёт отодвигания контента внутрь */
    box-sizing: border-box; 
}
div, span{
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

div {
    /* появляется скролл, если контент не помещается в блок */
    overflow: auto;
    /* скрывает контент, который превышает размер блока */
    /* overflow: hidden; */
}